
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        <link rel="stylesheet" href="css/chatting.css">
        <script src="/socket.io/socket.io.js"></script>
	</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body>
        <a id="logout" style="float: right; color: black;"><b>Logout</b></a>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<ui class="contacts">
						<li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
                                    <p id="myid" style="display: none;"><%= userInfo._id %></p>
									<span><%= userInfo.first_name %> <%= userInfo.last_name %></span>
                                    <p>@<%= userInfo.username %></p>
								</div>
							</div>
						</li>
                        <hr>
                        <center><b style="color: white;">Friends</b></center>
                        <hr>
                        <% for (var i=0; i < users.length; i++){%>
                            <% if (i == 0){ %>
                                <li class="<%= users[i]._id %> active" onclick="getUserinfo('<%= users[i].first_name %>','<%= users[i]._id %>')">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg" class="rounded-circle user_img">
                                            <span class="online_icon offline"></span>
                                        </div>
                                        <div class="user_info">
                                            <span><%= users[i].first_name %> <%= users[i].last_name %></span>
                                            <p>@<%= users[i].username %></p>
                                            <p class="notification"></p>
                                        </div>
                                    </div>
                                </li>
                            <% } else {%>
                                <li class="<%= users[i]._id %>" onclick="getUserinfo('<%= users[i].first_name %>','<%= users[i]._id %>')">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg" class="rounded-circle user_img">
                                            <span class="online_icon offline"></span>
                                        </div>
                                        <div class="user_info">
                                            <span><%= users[i].first_name %> <%= users[i].last_name %></span>
                                            <p>@<%= users[i].username %></p>
                                            <p class="notification"></p>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                        <% } %>
						</ui>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info chat_info">
                                    <% for (var i=0; i < users.length; i++){%>
                                     <% if (i==0) { %>  
									    <span>Chat with <%= users[i].first_name %></span>
                                    <% } %>
                                    <% } %>
								</div>
								<div class="video_cam">
									<span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span>
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i> View profile</li>
									<li><i class="fas fa-users"></i> Add to close friends</li>
									<li><i class="fas fa-plus"></i> Add to group</li>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div>
						</div>
						<div class="card-body msg_card_body" id="<%= userInfo._id %>">
                            <% for (var i=0; i < users.length; i++){%>
                                <% if (i==0) { %>
                                <div id="<%= users[i]._id %>" class="msging">
                                    <span class="rcv_class" style="display: none;"><%= users[i]._id %></span>
                                    <!-- <h1><%= users[i]._id %></h1> -->
                                </div>
                                <% } else { %>
                                    <div id="<%= users[i]._id %>" style="display: none;">
                                        <span class="rcv_class" style="display: none;"><%= users[i]._id %></span>
                                        <!-- <h1><%= users[i]._id %></h1> -->
                                    </div>
                                <% } %>
                            <% } %> 
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<textarea id="pingMsg" name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append">
									<span onclick="sendMessage()" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                                    <button id="play1" style="display: none;" onclick="play(1)"></button>
                                    <button id="play2" style="display: none;" onclick="play(2)"></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
    <script>
        var socket = io()
        var me = "<%= userInfo._id %>";
        var online_users = "<%= online%>";
        $(document).ready(function(){
            active_user = online_users.split(",");
            for (i=0; i<active_user.length; i++){
                $("."+active_user[i]+" .online_icon").removeClass("offline");
            }
            $('#action_menu_btn').click(function(){
                $('.action_menu').toggle();
            });
            setTimeout(function(){
            socket.emit('online', me);
            },1000)
        });
        function getUserinfo(user, id){
            $('.chat_info span').html("chat with "+user);
            var prev_id = $(".msg_card_body .msging").attr('id');
            $("#"+prev_id).removeClass('msging');
            $("#"+prev_id).hide();
            $("#"+id).show();
            $("#"+id).addClass('msging');
            $(".contacts .active").removeClass("active");
            $("."+id).addClass("active");
            $("."+id).removeClass("notify");
            $("."+id+ " .notification").html("");
        }
        function sendMessage(){
            var msg = $("#pingMsg").val()
            if (msg == ""){
                return false;
            }else{
                var sendMsg = '<div class="d-flex justify-content-start mb-4">'+
                            '<div class="img_cont_msg">'+
                                '<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">'+
                            '</div>'+
                            '<div class="msg_cotainer">'+ msg +
                            '</div>'+
                        '</div>'
            $(".msg_card_body .msging").append(sendMsg);
            socket.emit('messaging', me,$('.msging .rcv_class').html(),msg);
            $("#pingMsg").val("");
            }
            
        }
        function msgRecieve(to,from,msg){
            var rcvMsg = '<div class="d-flex justify-content-end mb-4">'+
								'<div class="msg_cotainer_send">'+ msg +
									'<span class="msg_time_send">'+
								'</div>'+
								'<div class="img_cont_msg">'+
							'<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">'+
								'</div>'+
							'</div>'
            $("#"+to+" "+"#"+from).append(rcvMsg);  
            if($("#"+to+" "+"#"+from).attr("style")=="display: none;"){
                $("."+from).addClass("notify");
                $("."+from+ " .notification").html("new notification");
                $("#play1").click();
            }else{
                $("#play2").click();
            }
        }
        socket.on('messaging', data => {
        // console.log(data);
        var from = data.from;
        var msgTo = data.to;
        var msg = data.messages;
        if (me == from){
            return false;
        }else{
            // console.log("Message came from "+ from +" to "+msgTo);
            msgRecieve(msgTo,from,msg);
        }

    })
    socket.on('online', data => {
        $("."+data.online+" .online_icon").removeClass("offline");
        console.log("online",data);
    })

    socket.on('offline', data => {
        $("."+data.offline+" .online_icon").addClass("offline")
        console.log("offline",data);
    })

    $("#logout").click(function(){
        socket.emit('offline', me);
        window.location.href="/logout";
    });

    function play(step){
        if(step == 1){
            console.log("first play")
            const notification1 = new Audio('sound/notification_2.mp3'); 
            // notification1.muted = false;
		    notification1.play();  
        }else if(step == 2){
            console.log("2nd play")
            const notification2 = new Audio('sound/notification_1.mp3'); 
            // notification2.muted = false;
		    notification2.play();  
        }
    }
    </script>
</html>
